html {
    font-family: monospace, monospace, monospace;
    font-style: normal;
}

header {
    height: 15vh;
    background-color: #606676;
    position: sticky;
    top: 0%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

body {
    top: 15vh;
    background-color: #FEF3E2;
    overflow: auto;
    overflow-x: auto;
    /* Hide scrollbars */
}

.userlogo {
    display: flex;
    position: absolute;
    top: calc(7.5vh - 35px);
    right: 20px;
}

.userlogo:hover {
    cursor: pointer;
}

.redirectlist {
    position: absolute;
    top: calc(7.5vh + 35px);
    right: 10px;
    background-color: #BEC6A0;
    width: 110px;
    height: 130px;
    font-size: 20px;
    line-height: 30px;
    border: 5px solid #708871;
}

.redirectlist a {
    display: block;
    position: absolute;
    left: 10px;
}
