.workerContainer {
    width: 80vw;
    margin: auto;
    align-items: center;
}

.table {
    border-spacing: 0px;
    width: 100%;
    /* border-collapse: collapse; */
}

.tableheader, .tablebody {
    width: 100%;
}

.tableheader {
    background-color: #708871;
    position: sticky;
    top: 15vh;
    z-index: 3;
}


.tableheader tr {
    top: 0px;
    z-index: 3;
}

.tableheader th {
    border-right: 2px solid #3e553e;
    border-top: 2px solid #3e553e;
    border-bottom: 2px solid #3e553e;
    font-weight: 100;
}

.tableheader th:first-child {
    border-left: 2px solid #3e553e;
}

.tablebody td {
    border-right: 2px solid #3e553e;
    border-bottom: 2px solid #3e553e;
}

.tablebody td:first-child {
    border-left: 2px solid #3e553e;
}

.tableheader th, 
.tablebody td {
    height: 40px;
    font-size: xx-large;
}

.tableheader th:first-child, 
.tablebody td:first-child {
    width: 50px;
    text-align: center;
}

.tableheader th:nth-child(2), 
.tablebody td:nth-child(2) {
    width: calc(100% - 150px);
}

.tableheader th:nth-child(3), 
.tablebody td:nth-child(3) {
    width: 100px;
    text-align: center;
}

.tablebody td:nth-child(3):hover,
.tablebody td:nth-child(3):focus {
    background-color: #BEC6A0;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    z-index: 10;
    display: none;
    /* Hidden by default */
    position: fixed;
    margin: 0%;
    width: 100%;
    /* Full width */
    height: 100%;
    top: 0px;
    left: 0px;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    z-index: 10;
    position: relative;
    background-color: #FEF3E2;
    margin: auto;
    margin-top: 20vh;
    border: 1px solid #708871;
    width: min(80vw, 500px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.updateBtnYes,
.updateBtnNo {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.updateBtnNo:hover,
.updateBtnNo:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.updateBtnYes:hover,
.updateBtnYes:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-size: 30px;
    height: 50px;
    text-align: center;
    z-index: 10;
    padding: 2px 16px;
    background-color: #708871;
    color: black;
}

.modal-body {
    font-size: 20px;
    z-index: 10;
    padding: 2px 16px;
    height: 100px;
}

.modal-footer {
    z-index: 10;
    padding: 2px 16px;
    background-color: #708871;
    color: black;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.headline {
    width: 200px;
    align-items: center;
    min-width: 200px;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
}

.headlinetext {
    align-items: center;
    font-size: 7.5vh;
    font-weight: 1000;
    text-align: center;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
}

[placeholder]:empty:focus::before {
    content: "";
}

[placeholder]:empty:hover::before {
    cursor: text;
}